USE ONLINESHOP
GO

CREATE PROC DANGKI_CHINHANH_HOPDONG_FIX
    @MAHD BIGINT,
    @DIACHI VARCHAR(100)
AS
BEGIN TRAN
    DECLARE @slchinhanh AS INT
	SET @slchinhanh= (SELECT SLCHINHANH FROM dbo.HOPDONG (UPDLOCK) WHERE MAHD=@MAHD)
	WAITFOR DELAY '00:00:10'
    INSERT INTO CHINHANH(MAHD,DIACHI) VALUES (
        @MAHD,
        @DIACHI
    );
	SET @slchinhanh=@slchinhanh+1
	UPDATE dbo.HOPDONG SET SLCHINHANH=@slchinhanh WHERE MAHD=@MAHD
COMMIT TRAN

EXEC DANGKI_CHINHANH_HOPDONG_FIX 1 'Quận 7'

--SELECT * FROM dbo.HOPDONG WHERE MAHD=1
