USE ONLINESHOP
GO
CREATE PROC NHAN_DONHANG_LOI
	@MADH BIGINT,
	@MATX BIGINT
AS
	BEGIN TRAN
		IF NOT EXISTS (SELECT * FROM DONHANG WHERE MATX IS NULL AND MADH=@MADH)
			ROLLBACK
		ELSE 
		WAITFOR DELAY '00:00:10'
		BEGIN
			UPDATE dbo.DONHANG SET MATX=@MATX WHERE MADH=@MADH
			COMMIT TRAN
		END
GO

EXEC NHAN_DONHANG_LOI @MADH=1, @MATX=1
SELECT MADH,MATX FROM DONHANG
-- Ta thấy sau khi T1 thêm 1 sản phẩm thì, T2 ghi đè nên đã xóa sản phẩm
-- dẫn đến trong cơ sở dữ liệu không có sản phẩm bánh trung thu

	
	