USE ONLINESHOP
GO

--CẬP NHẬT TÀI KHOẢN
CREATE PROC CAPNHAT_TAIKHOAN
	@MATK BIGINT, 
	@USERNAME CHAR(30), 
	@PASS CHAR(30), 
	@ISSTAFF BIT, 
	@ISSUPPERUSER BIT, 
	@SDT CHAR(15), 
	@EMAIL CHAR(50), 
	@DIACHI VARCHAR(100)
AS
	UPDATE dbo.TAIKHOAN 
	SET USERNAME= @USERNAME, PASS=@PASS, ISSTAFF=@ISSTAFF, ISSUPERUSER=@ISSUPPERUSER, SDT=@SDT, EMAIL=@EMAIL, DIACHI=@DIACHI 
	WHERE MATK=@MATK
GO
-- Xem danh sách hợp đồng đã duyệt
CREATE PROC XEM_DSHD_DADUYET 
	@MADT INT
AS
	SELECT * FROM dbo.HOPDONG hd WHERE hd.MADT=@MADT AND ISACEPTED=1
GO

-- Xem danh sách hợp đồng chưa duyệt
CREATE PROC XEM_DSHD_CHUADUYET
	@MADT INT
AS
	SELECT * FROM dbo.HOPDONG hd WHERE hd.MADT=@MADT AND ISACEPTED=0

GO 
-- THÔNG BÁO GIA HẠN ĐẾN ĐỐI TÁC ĐỐI VỚI NHỮNG HỢP ĐỒNG SẮP ĐẾN HẠN
CREATE PROC THONGBAO_GIAHAN  
	@MADT BIGINT
AS 
	SELECT * FROM dbo.HOPDONG WHERE MADT= @MADT AND DATEDIFF(DAYOFYEAR, CAST( GETDATE() AS Date ),TGKT) < 10 AND ISACEPTED=1
GO
-- DUYỆT HỢP ĐỒNG
CREATE PROC DUYET_HOPDONG
	@MADT BIGINT
AS
BEGIN TRAN 
	DECLARE @MyTableVar table(  
    MAHD BIGINT NOT NULL,  
    MADT BIGINT,  
    EXPRIEDTIME DATE,  
    ACCEPTEDDATE DATETIME);  
	
	UPDATE dbo.HOPDONG  
	SET ISACEPTED=1
	OUTPUT INSERTED.MAHD,
			INSERTED.MADT,
			INSERTED.TGKT,
			GETDATE() 
	INTO @MyTableVar
	 WHERE MADT=@MADT AND ISACEPTED=0

	--Display the result set of the table variable.  
	SELECT *  
	FROM @MyTableVar;  
COMMIT TRAN
-- XEM DANH SÁCH TÀI KHOẢN
GO 
CREATE PROC XEM_DS_TK
AS
	SELECT * FROM dbo.TAIKHOAN
		
-- XÓA TÀI KHOẢN CỦA NHÂN VIÊN/ADMIN
GO
CREATE PROC XOA_TK_NV_AD
	@USERNAME CHAR(30)
AS
BEGIN TRAN 
	DELETE FROM dbo.TAIKHOAN WHERE USERNAME=@USERNAME
	
-- KHÓA MỘT TÀI KHOẢN
GO
CREATE PROC KHOA_TK
	@USERNAME CHAR(30)
AS
	UPDATE dbo.TAIKHOAN SET ISACTIVE = 0 WHERE USERNAME=@USERNAME
-- KÍCH HOẠT MỘT TÀI KHOẢN
GO
CREATE PROC KICHHOAT_TK
	@USERNAME CHAR(30)
AS
	UPDATE dbo.TAIKHOAN SET ISACTIVE = 1 WHERE USERNAME=@USERNAME
-- CẤP QUYỀN CHO MỘT TÀI KHOẢN
GO
CREATE PROC CAPQUYEN_DULIEU
	@USERNAME CHAR(30)
AS
BEGIN TRAN 
	IF EXISTS (SELECT * FROM dbo.TAIKHOAN WHERE USERNAME=@USERNAME)
		
		BEGIN
			DECLARE @user_pass CHAR(30)
			SET @user_pass= (SELECT PASS FROM dbo.TAIKHOAN WHERE USERNAME=@USERNAME)
			EXEC sys.sp_addlogin @loginame = @USERNAME,    -- sysname
			                     @passwd = @user_pass,      -- sysname
			                     @defdb = ONLINESHOP
			EXEC sys.sp_addrolemember @rolename = 'db_datawriter',  -- sysname
			                          @membername = @USERNAME -- sysname
		END
	ELSE
		BEGIN
			RAISERROR('Tài khoản không hợp lệ',15,1)
			ROLLBACK
		END
COMMIT TRAN
