USE ONLINESHOP
GO
CREATE PROC XEM_DSHD_CHUADUYET_DUYET_HD
	@MADT BIGINT
AS
	SET TRANSACTION ISOLATION LEVEL REPEATABLE READ; 
	BEGIN TRAN
		EXEC dbo.XEM_DSHD_CHUADUYET @MADT -- int
		WAITFOR DELAY '00:00:05'
		EXEC dbo.DUYET_HOPDONG @MADT -- bigint
	COMMIT

EXEC XEM_DSHD_CHUADUYET_DUYET_HD 2
	